
  html {
    font-size: 10px;
  }

  body {      
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
  }

  .mainContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0;
    max-width: 500px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: stretch;
  }

  ::placeholder { 
    color: rgb(83, 83, 83);
 }
  
  .input {
    position: relative;
    background:rgba(255, 255, 255, 0.2);
    border-radius:5px;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    padding:1rem 1rem 1rem 1rem;
    font-size: 20px;
    border: none;
  }

  .displayInfo {
    min-height: 80px;
    background: rgba(255, 255, 255, 0.6);
    border-radius:30px;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    padding:1rem 2rem 1rem 2rem;
    background-size: 100% 3rem;
    position: relative;
    line-height:3rem;
  }

  .speechOutput {
    background:rgb(206, 206, 206);
    border-radius:5px;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    padding:1rem 1rem 1rem 1rem;
    position: relative;

  }

  .myBtns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
  }

  button {
  /* background-color:#35ca42; */
  background-color:#44d2b6;
	padding:10px;
	font-family: 'Open Sans', sans-serif;
  font-size:14px;
  font-weight: bold;
	color:rgb(20, 20, 20);
  border: solid 1px #00799a;
  border-radius: 5px;

  }

  button:hover {
    color: #00799a;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  