
  html {
    font-size: 10px;
  }

  body {      
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
  }

  .mainContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 500px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: stretch;
  }
  
  .input {
    position: relative;
    background:white;
    border-radius:5px;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    padding:1rem 1rem 1rem 1rem;
    font-size: 20px;
  }

  .displayInfo {
    min-height: 80px;
    background: rgba(255, 255, 255, 0.6);
    border-radius:30px;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    padding:1rem 2rem 1rem 2rem;
    background-size: 100% 3rem;
    position: relative;
    line-height:3rem;
  }

  .words {
    background:white;
    border-radius:5px;
    box-shadow:10px 10px 0 rgba(0,0,0,0.1);
    padding:1rem 1rem 1rem 1rem;
    position: relative;

  }

  .myBtns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
  }

  button {
  background-color:#35ca42;
	padding:10px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#fff;
	border: solid 1px #578b72;

  }

  